.container {
  background-color: black;
}

.action {
  border: white 1px solid;
  padding: 5px 30px;
  border-radius: 20px;
  color: white;
}

.item {
  color: white;
  margin: 0px 6px;
  span {
    font-weight: 600;
    margin-left: 10px;
  }
}
