.container {
  .ant-form-item-label {
    width: 200px;
    text-align: left;
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  width: 100%;
}
