.container {
  min-height: 250px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #cbd6dc;
  margin-bottom: 20px;
}

.photo {
  border-radius: 10px 0px 0px 10px;
  img {
    width: 100%;
    height: 300px;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: opacity 0.3s;
  }
}

.content {
  border-radius: 10px;
}

.Features {
  display: flex;
  flex-direction: column;
}

.Info {
  margin-left: 9px;
  display: grid;
  text-align: left;
  .head {
    display: flex;
    justify-content: space-between;
  }
  span {
    overflow: ellipsis;
    white-space: nowrap;
  }
  p {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
