.container {
  max-width: 80%;
  height: 250px;
  border: 1px solid #cbd6dc;
  margin-top: 10px;
  border-radius: 10px;
}

.photo {
  border-radius: 10px 0px 0px 10px;
  img {
    width: 100%;
    height: 250px;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: opacity 0.3s;
  }
}

.content {
  border-radius: 10px;
}

.Features {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
  }
}
