.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.subtitle {
  width: 100%;
}

.submit-button {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
