.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin-bottom: 0px;
}

.list {
  margin-top: 20px;
  width: 100%;
}

.space {
  height: 70%;
}

.actions {
  cursor: pointer;
  .action {
    border-left: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    padding: 5px 20px;
    background-color: #e7edf0;
    border-radius: 0px 10px 0px 10px;
  }
  .action:hover {
    border: solid 2px rgba(0, 0, 0, 0.475);
  }
}

.ellipsis {
  font-size: 20px;
}
